.score-container {
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.score-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.middle {
    text-align: left;
    padding: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}